<div class="hero-unit">
	<h1>欢迎来到小笼包的博客</h1>
	<p>
		这是一个基于Nodejs+<%= title %>的学习博客系统
	</p>
	<p>
		<a href="/login" class="btn btn-primary btn-large">登陆</a>
		<a href="/reg" class="btn btn-default btn-large">注册</a>
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>欢迎大家来交流</h2>
	</div>
</div>

